.toggle {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    font-size: 0.875rem;
    line-height: var(--spacing-5);
    font-weight: 600;
    color: black;
}

@property --toggle-gradient-stop-1 {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0 0 0 / 0.09);
}

@property --toggle-gradient-stop-2 {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(0 0 0 / 0.09);
}

.toggle .wrapper {
    display: flex;
    height: 15px;
    width: 26px;

    border-radius: 9999px;

    padding: 1px;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);

    background: linear-gradient(var(--toggle-gradient-stop-1), var(--toggle-gradient-stop-2));
    transition-duration: 175ms, 175ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: --toggle-gradient-stop-1, --toggle-gradient-stop-2;
}

.toggle[data-selected] .wrapper {
    --toggle-gradient-stop-1: var(--color-blue-600);
    --toggle-gradient-stop-2: var(--color-blue-500);
}

.toggle .knob {
    height: 13px;
    width: 13px;
    transform: translateX(0);
    border-radius: 9999px;
    background-color: white;
    box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 0.1),
        0 1px 2px -1px rgb(0 0 0 / 0.1);
    transition: transform 175ms ease-out;
}

.toggle[data-selected] .knob {
    /* FIXME: This is a hack to work around a weird spacing bug */
    /* It should be 100%, but at 100% it overshoots its container :/ */
    transform: translateX(82%);
}
